
@model List<ProductDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div style="text-align: center;">
    <h1 style="font-size: 24px; color: #716;">Hey, Tekrar Hoş Geldin!!!</h1>
    <img src="~/admintemplate/img/deneme.jpg" alt="Admin Welcome Image" style="max-width: 100%; height: auto; margin-top: 20px;">
</div>


